<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skesw12.minitrello">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MINI TRELLO"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:configChanges="orientation|screenSize|keyboard" is use Keep adapter when screen rotate -->
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:launchMode="singleTop"/>
        <activity android:name=".newactivities.MainActivity2"
            android:launchMode="singleTop"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MINI TRELLO"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".newactivities.SimpleCardListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".newactivities.SimpleCardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>
